---
---


$accent-color: #496A60; // link color
$font-stack: 'Palatino Linotype','HelveticaNeue'; // Didot, Courier
$heading-font-stack: 'Palatino Linotype','HelveticaNeue',system-ui; // use this to set a different font for your headings if you want
$code-font-stack: Inconsolata, monospace; // fonts for inline code and code blocks
$container-max-width: 900px;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// structure
body {
  font-family: $font-stack;
}

#container {
  width: 85%;
  max-width: $container-max-width;
  margin: 2em auto;
}

// navigation
nav {
  margin: 1rem 0 3rem;
  //text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  font-family: $heading-font-stack;
  font-weight: 660;
}

nav a {
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 1.1rem;
}

// typography: heading

/* Common styles for h1, h2, and h3 */
h1,
h2,
h3 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 1.8rem;
  margin-top: 1rem;
  //text-align: center;
}

.global-title {
  font-size: 1.7rem;
  color: #222;
  //font-family: $heading-font-stack;
  font-family:'Courier New', Courier, monospace
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
}

h2,
h3 {
  margin: 2rem 0 1rem;
  color: #444;
}

// typography: body
p,
li {
  font-size: 1rem;
  line-height: 150%;
  color: #444;
  margin: 1.25rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
}

// images
img {
  max-width: 100%;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 4.5rem;
  margin-right: 1.5rem;
}

// homepage greeting component
.greeting-container {
  display: flex;
  margin-bottom: 2em;
}

.greeting-container h3 {
  align-self: center;
  margin: 0;
  font-weight: 70;
  font-size:1.05em;
  line-height: 1.5em;
  //font-family:'Courier New', Courier, monospace
}

// blog page
.posts-list-item {
  list-style: none;
  margin: 1.25rem 0;
}

.posts-list-title {
  margin-bottom: 0.75rem;
}

.posts-list-item:first-of-type {
  margin-top: 1.25rem;
}

.posts-list-item .title {
  margin: 0 0.25rem 0 0;
  display: inline-block;
}

.timestamp {
  color: #676767;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}

code {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  font-family: $code-font-stack;
}

// gallery

.gallery-body #container {
  font-family: $font-stack;
  line-height: 1.6;
  color: #333;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1.25em;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.project {
  display: flex;
  align-items: flex-start;
}

.project-image {
  width: 140px;
  height: 140px;
  margin-right: 1.25em;
  flex-shrink: 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

.project-text {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 140px;
}

.project-title {
  font-size: 1.2em;
  margin: 0;
}

.project-description {
  align-self: start;
  margin: 0.3125em 0;
  font-size: 0.9em;
}

.project-date {
  align-self: end;
  font-style: italic;
  color: #666;
  font-size: 0.9em;
  margin: 0;
}

@media (max-width: 768px) {
  .project-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) { 
  .project-grid {
      grid-template-columns: 1fr;
  }
}
