---
---

$accent-color: #496A60; // link color
$font-stack: Georgia, 'Palatino Linotype','HelveticaNeue'; // Didot, Courier
$heading-font-stack: 'Palatino Linotype','HelveticaNeue',system-ui; // use this to set a different font for your headings if you want
$code-font-stack: Inconsolata, monospace; // fonts for inline code and code blocks
$container-max-width: 888px;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// structure
body {
  font-family: $font-stack;
}

#container {
  width: 90%;
  max-width: $container-max-width;
  margin: 2.5rem auto;
}

// navigation
nav {
  margin: 1rem 0 3rem;
  //text-align: center;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  font-family: $heading-font-stack;
  font-weight: 660;
}

nav a {
  margin-right: 2.5rem;
  text-decoration: none;
  font-size: 1.1rem;
}

// typography: heading

/* Common styles for h1, h2, and h3 */
h1,
h2,
h3 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 2.2rem;
  margin-top: 1rem;
  //text-align: center;
}

.global-title {
  font-size: 2.6rem;
  color: #222;
  font-family: $heading-font-stack;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  margin: 2rem 0 1rem;
  color: #444;
}

// typography: body
p,
li {
  font-size: 1rem;
  line-height: 150%;
  color: #444;
  margin: 1.25rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
}

// images
img {
  max-width: 100%;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 4.5rem;
  margin-right: 1.5rem;
}

// homepage greeting component
.greeting-container {
  display: flex;
  margin-bottom: 3em;
}

.greeting-container h3 {
  align-self: center;
  margin: 0;
  font-weight: 70;
  font-size:1.1em;
  line-height: 1.6em;
}

// blog page
.posts-list-item {
  list-style: none;
  margin: 1.25rem 0;
}

.posts-list-title {
  margin-bottom: 0.75rem;
}

.posts-list-item:first-of-type {
  margin-top: 1.25rem;
}

.posts-list-item .title {
  margin: 0 0.25rem 0 0;
  display: inline-block;
}

.timestamp {
  color: #676767;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}

code {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 2px;
  font-family: $code-font-stack;
}
